
<div class="invoicehead-main">
    <div id="headerbar">
        <h1>
            Invoice #1
        </h1>

        <div class="pull-right btn-group">
            <a href="#" class="btn btn-sm btn-success ajax-loader" id="btn_save_invoice">
                <i class="fa fa-check"></i> Save
            </a>
        </div>

        <div class="invoice-labels pull-right">
        </div>

    </div>

    <div id="content">





        <form id="invoice_form" class="form-horizontal">

            <div class="invoice">

                <div class="cf row">

                    <div class="col-xs-12 col-md-5">
                        <div class="details-box">
                            <div class="invoice-properties">
                                <label>Client Name</label>
                                <input id="client_name" class="input-sm form-control" value="" type="text" placeholder="Client Name">
                            </div>
                            <div class="invoice-properties">
                                <label>Phone Number</label>
                                <input id="client_number" class="input-sm form-control" value="" type="number" placeholder="Phone Number">
                            </div>
                            <div class="invoice-properties">
                                <label>Email</label>
                                <input id="client_mail" class="input-sm form-control" value="" type="email" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-7">

                        <div class="details-box">

                            <div class=" row">


                                <div class="col-xs-12 col-sm-6">

                                    <div class="invoice-properties">
                                        <label>Invoice #</label>
                                        <input id="invoice_number" class="input-sm form-control" value="" type="text" placeholder="Invoice Number">
                                    </div>

                                    <div class="invoice-properties has-feedback">
                                        <label>Date</label>

                                        <div class="input-group">
                                            <input name="invoice_date_created" id="invoice_date_created" class="form-control datepicker" value="06-09-2018">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar fa-fw"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="invoice-properties has-feedback">
                                        <label>Due Date</label>

                                        <div class="input-group">
                                            <input name="invoice_date_due" id="invoice_date_due" class="form-control datepicker" value="06-09-2018">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar fa-fw"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="invoice-properties has-feedback">

                                        <label>Delivery Notes</label>
                                        <input class="form-control " name="custom[invoice_custom_delivery_note]" id="invoice_custom_delivery_note" placeholder="Delivery Notes" value="" type="text">
                                    </div>
                                    <div class="invoice-properties has-feedback">
                                        <label>Order No</label>
                                        <input class="form-control " name="custom[invoice_custom_order_no]" id="invoice_custom_order_no" placeholder="Order No" value="" type="text">



                                    </div>

                                </div>


                                <div class="col-xs-12 col-sm-6">

                                    <div class="invoice-properties">
                                        <label>Status <span class="small">(Can be changed)</span>                                    </label>
                                        <select name="invoice_status_id" id="invoice_status_id" class="form-control">
                                            <option value="1" selected="selected">
                                                Draft
                                            </option>
                                            <option value="2">
                                                Sent
                                            </option>
                                            <option value="3">
                                                Viewed
                                            </option>
                                            <option value="4">
                                                Paid
                                            </option>
                                        </select>
                                    </div>

                                    <div class="invoice-properties">
                                        <label>Payment Method</label>
                                        <select name="payment_method" id="payment_method" class="form-control">
                                            <option value="0">Select the Payment Method</option>
                                        </select>
                                    </div>

                                    <div class="invoice-properties">
                                        <label>PDF password (optional)</label>
                                        <input id="invoice_password" class="input-sm form-control" value="" type="text">
                                    </div>

                                    <div class="invoice-properties">
                                        <label>Delivery date</label>
                                        <input class="form-control " name="custom[invoice_custom_delivery_date]" id="invoice_custom_delivery_date" placeholder="Delivery date" value="" type="text">


                                    </div>
                                    <div class="invoice-properties">

                                        <label>Order Date</label>
                                        <input class="form-control " name="custom[invoice_custom_order_date]" id="invoice_custom_order_date" placeholder="Order Date" value="" type="text">

                                    </div>

                                </div>
                            </div>



                        </div>

                    </div>

                </div>

                <script type="text/javascript">

                </script>

                <div class="table-responsive">
                    <div id="invoice_discount_percent"></div>
                    <div id="invoice_discount_amount"></div>
                    <table id="item_table" class="items table table-condensed table-bordered ui-sortable">
                        <thead style="display: none">
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Tax Rate</th>
                                <th>Subtotal</th>
                                <th>Tax</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="new_row" class="ui-sortable-handle item">
                            <tr>
                                <td class="td-icon"><i class="fa fa-arrows cursor-move"></i></td>


                                <td class="td-textarea">
                                    <div class="input-group">

                                        <input name="item_serial" class="input-sm form-control disp_text" placeholder="HSN/SAC">
                                        <input name="item_description" class="input-sm form-control" placeholder="HSN/SAC" type="hidden">
                                    </div>
                                </td>
                                <td class="td-text" colspan="2">
                                    <input name="invoice_id" value="5" type="hidden">
                                    <input name="item_id" value="" type="hidden">
                                    <input name="item_product_id" value="" type="hidden">

                                    <div class="input-group">

                                        <input name="item_name" id="get_imp_id" class="input-sm form-control" placeholder="Item" type="text" value="">
                                        <input name="item_hidden_name" class="input-sm form-control" placeholder="Item" value="" type="hidden">
                                    </div>
                                </td>
                                <td class="td-amount td-quantity">
                                    <div class="input-group">

                                        <input name="item_quantity" class="input-sm form-control amount" placeholder="Quantity" value="" type="text">
                                    </div>
                                </td>
                                <td class="td-amount">
                                    <div class="input-group">

                                        <input name="item_price" class="input-sm form-control amount" placeholder="Price" value="" type="text">
                                    </div>
                                </td>
                                <td class="td-amount ">
                                    <div class="input-group">

                                        <input name="item_discount_amount" class="input-sm form-control amount" placeholder="Item Discount" value="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="‎₹ per Item" type="text">
                                    </div>
                                </td>
                                <td class="td-amount">
                                    <div class="input-group">
                                        <span class="input-group-addon">Tax Rate</span>
                                        <input name="item_tax_rate_id" class="form-control input-sm">

                                    </div>
                                </td>
                                <td class="td-icon text-right td-vert-middle"></td>
                            </tr>
                            <tr>

                                <!--       <td colspan="2" class="td-amount td-vert-middle">
                                          <span></span><br/>
                                          <span name="subtotal" class="amount"></span>
                                      </td>
                                      <td class="td-amount td-vert-middle">
                                          <span></span><br/>
                                          <span name="item_discount_total" class="amount"></span>
                                      </td>
                                      <td class="td-amount td-vert-middle">
                                          <span></span><br/>
                                          <span name="item_tax_total" class="amount"></span>
                                      </td>
                                      <td class="td-amount td-vert-middle">
                                          <span></span><br/>
                                          <span name="item_total" class="amount"></span>
                                      </td> -->
                            </tr>

                        </tbody>


                    </table>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="btn-group">

                            <a href="#" class="btn_add_row btn btn-sm btn-default">
                                <i class="fa fa-database"></i>
                                Add Row
                            </a>
                        </div>
                        <br><br>
                    </div>

                    <div class="col-xs-12 col-md-6 col-md-offset-2 col-lg-4 col-lg-offset-4">
                        <table class="table table-condensed text-right">
                            <tbody>
                                <tr>
                                    <td style="width: 40%;">Subtotal</td>
                                    <td style="width: 60%;" class="amount">‎₹0.00</td>
                                </tr>
                                <tr>
                                    <td class="td-vert-middle">Discount</td>
                                    <td class="clearfix">
                                        ‎₹0.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>CGST</td>
                                    <td class="amount">‎₹0.00</td>
                                </tr>
                                <tr>
                                    <td>SGST</td>
                                    <td class="amount">‎₹0.00</td>
                                </tr>
                                <tr>
                                    <td>Paid</td>
                                    <td class="amount">‎₹0.00</td>
                                </tr>
                                <tr>
                                    <td>Balance</td>
                                    <td class="amount">‎₹0.00</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td class="amount"><b>‎₹0.00</b></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <script type="text/javascript">
$(document).ready(function(){

    $('input[name="item_quantity"]:eq(1)').focus();
$('input[name="item_quantity"]').on('keypress',function(e){
var x=e.keyCode;
if(x == 13)
{
    var attr=$(this).attr('data-attr');
var kart=$('#quantity_auto_change'+attr).val();
var quantity=$(this).val();

console.log(quantity);
console.log(kart);
$("#quantity_auto_change"+attr).val(kart*quantity);
   // alert('dsasdasda');
  $('#get_imp_id').focus()
   var select2 = $("#get_imp_id").data('select2');
   select2.open();
}
});
$('input[name="item_price"]').on('keypress',function(e){
var x=e.keyCode;
if(x == 13)
{

  $('#get_imp_id').focus()
   var select2 = $("#get_imp_id").data('select2');
   select2.open();
}
});
    });

                </script>
                <hr>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">

                        <label>Invoice Terms</label>
                        <textarea id="invoice_terms" name="invoice_terms" class="form-control" rows="3"></textarea>

                    </div>
                    <div class="col-xs-12 col-sm-8">

                        <!-- <label class="control-label">Attachments</label> -->
                        <br>
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <!--  <span class="btn btn-default fileinput-button">
                             <i class="fa fa-plus"></i>
                             <span>Add Files...</span>
                         </span> -->
                        <!-- dropzone -->
                        <div class="row">
                            <div id="actions" class="col-xs-12 col-sm-12">
                                <div class="col-lg-7"></div>
                                <div class="col-lg-5">
                                    <!-- The global file processing state -->
                                    <!-- <span class="fileupload-process">
                                        <div id="total-progress" class="progress progress-striped active" role="progressbar"
                                             aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                            <div class="progress-bar progress-bar-success" style="width:0%;"
                                                 data-dz-uploadprogress></div>
                                        </div>
                                    </span> -->
                                </div>

                                <div id="previews" class="table table-condensed table-striped files">

                                </div>
                            </div>
                            <!-- stop dropzone -->
                        </div>
                    </div>
                </div>





            </div>

        </form>

    </div>
</div>