@using Core_Project.Model;
@model IEnumerable<IPQuotesModel>





    

    <div id="headerbar">
        <h1>Estimate</h1>


    </div>
    
<br />
    <div id="content" class="table-content" style="height: 566px;">



        <div class="table-responsive col-md-12">

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Client Name</th>
                        <th>Client Number</th>
                        <th>Bill Number</th>



                        <th>Price</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>14-11-2017</td>
                        <td></td>
                        <td></td>
                        <td><a href="http://amdsystems.in/billing/quotes/estimate_view_disp/13/0">Es013</a></td>


                        <td>6500.00</td>

                    </tr>
                    <tr>
                        <td>24-01-2018</td>
                        <td>test</td>
                        <td>test</td>
                        <td><a href="http://amdsystems.in/billing/quotes/estimate_view_disp/22/0">Es022</a></td>


                        <td>6500.00</td>

                    </tr>
                </tbody>

            </table>
        </div>

    </div>
