<div id="main-area">

    <div id="modal-placeholder" class="modal-placeholder"></div>

    <div id="headerbar">
        <h1>Payments</h1>

        <div class="pull-right">
            <a class="btn btn-sm btn-primary" href="http://amdsystems.in/billing/payments/form">
                <i class="fa fa-plus"></i> New
            </a>
        </div>

        <div class="pull-right">
            <div class="btn-group"><a class="btn btn-default btn-sm disabled" href="#" title="First"><i class="fa fa-fast-backward no-margin"></i></a><a class="btn btn-default btn-sm disabled" href="#" title="Prev"><i class="fa fa-backward no-margin"></i></a><a class="btn btn-default disabled btn-sm" href="#" title="Next"><i class="fa fa-forward no-margin"></i></a><a class="btn btn-default disabled btn-sm" href="#" title="Last"><i class="fa fa-fast-forward no-margin"></i></a></div>
        </div>

    </div>

    <div id="content" class="table-content">





        <div id="filter_results">
            <div class="table-responsive">
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>Payment Date</th>
                            <th>Invoice Date</th>
                            <th>Invoice</th>
                            <th>Client</th>
                            <th>Amount</th>
                            <th>Payment Method</th>
                            <th>Note</th>
                            <th>Options</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>16-Apr-2018</td>
                            <td>29-Mar-2018</td>
                            <td><a href="http://amdsystems.in/billing/invoices/view/70">INV 00150</a></td>
                            <td>
                                <a href="http://amdsystems.in/billing/clients/view/41" title="View Client">
                                    Selvam motors
                                </a>
                            </td>
                            <td>‎₹54,000.00</td>
                            <td>CHEQ</td>
                            <td>PAID IN FULL</td>
                            <td>
                                <div class="options btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> Options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/form/11">
                                                <i class="fa fa-edit fa-margin"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/delete/11" onclick="return confirm('Are you sure you wish to delete this record?');">
                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/invoices/generate_cash_pdf/70" target="_blank">

                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Cash Recipt
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>03-Mar-2018</td>
                            <td>03-Mar-2018</td>
                            <td><a href="http://amdsystems.in/billing/invoices/view/66">inv000123</a></td>
                            <td>
                                <a href="http://amdsystems.in/billing/clients/view/41" title="View Client">
                                    Selvam motors
                                </a>
                            </td>
                            <td>‎₹20,000.00</td>
                            <td>CHEQ</td>
                            <td></td>
                            <td>
                                <div class="options btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> Options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/form/10">
                                                <i class="fa fa-edit fa-margin"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/delete/10" onclick="return confirm('Are you sure you wish to delete this record?');">
                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/invoices/generate_cash_pdf/66" target="_blank">

                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Cash Recipt
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>02-Feb-2018</td>
                            <td>02-Feb-2018</td>
                            <td><a href="http://amdsystems.in/billing/invoices/view/63">http://amdsystems.in/billing/invoices/view/63</a></td>
                            <td>
                                <a href="http://amdsystems.in/billing/clients/view/39" title="View Client">
                                    Client Name *123
                                </a>
                            </td>
                            <td>‎₹13,280.00</td>
                            <td>CASH</td>
                            <td></td>
                            <td>
                                <div class="options btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> Options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/form/9">
                                                <i class="fa fa-edit fa-margin"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/delete/9" onclick="return confirm('Are you sure you wish to delete this record?');">
                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/invoices/generate_cash_pdf/63" target="_blank">

                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Cash Recipt
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>24-Jan-2018</td>
                            <td>23-Jan-2018</td>
                            <td><a href="http://amdsystems.in/billing/invoices/view/52">http://amdsystems.in/billing/invoices/view/52</a></td>
                            <td>
                                <a href="http://amdsystems.in/billing/clients/view/25" title="View Client">
                                    amd
                                </a>
                            </td>
                            <td>‎₹1,000.00</td>
                            <td>CASH</td>
                            <td></td>
                            <td>
                                <div class="options btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> Options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/form/8">
                                                <i class="fa fa-edit fa-margin"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/delete/8" onclick="return confirm('Are you sure you wish to delete this record?');">
                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/invoices/generate_cash_pdf/52" target="_blank">

                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Cash Recipt
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>16-Jan-2018</td>
                            <td>16-Jan-2018</td>
                            <td><a href="http://amdsystems.in/billing/invoices/view/47">http://amdsystems.in/billing/invoices/view/47</a></td>
                            <td>
                                <a href="http://amdsystems.in/billing/clients/view/25" title="View Client">
                                    amd
                                </a>
                            </td>
                            <td>‎₹8,320.00</td>
                            <td>CASH</td>
                            <td>cash</td>
                            <td>
                                <div class="options btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> Options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/form/7">
                                                <i class="fa fa-edit fa-margin"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/delete/7" onclick="return confirm('Are you sure you wish to delete this record?');">
                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/invoices/generate_cash_pdf/47" target="_blank">

                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Cash Recipt
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>04-Jan-2018</td>
                            <td>17-Nov-2017</td>
                            <td><a href="http://amdsystems.in/billing/invoices/view/28">http://amdsystems.in/billing/invoices/view/28</a></td>
                            <td>
                                <a href="http://amdsystems.in/billing/clients/view/4" title="View Client">
                                    arun
                                </a>
                            </td>
                            <td>‎₹21,300.00</td>
                            <td>CASH</td>
                            <td>paid in full</td>
                            <td>
                                <div class="options btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> Options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/form/5">
                                                <i class="fa fa-edit fa-margin"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/delete/5" onclick="return confirm('Are you sure you wish to delete this record?');">
                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/invoices/generate_cash_pdf/28" target="_blank">

                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Cash Recipt
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>29-Dec-2017</td>
                            <td>07-Nov-2017</td>
                            <td><a href="http://amdsystems.in/billing/invoices/view/36">INV00025</a></td>
                            <td>
                                <a href="http://amdsystems.in/billing/clients/view/7" title="View Client">
                                    HONORARY CORRESPONDENT,MNC VIVEKANANDA VIDYALAYA,
                                </a>
                            </td>
                            <td>‎₹17,499.00</td>
                            <td>CHEQ</td>
                            <td></td>
                            <td>
                                <div class="options btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> Options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/form/4">
                                                <i class="fa fa-edit fa-margin"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/delete/4" onclick="return confirm('Are you sure you wish to delete this record?');">
                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/invoices/generate_cash_pdf/36" target="_blank">

                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Cash Recipt
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>16-Dec-2017</td>
                            <td>18-Nov-2017</td>
                            <td><a href="http://amdsystems.in/billing/invoices/view/30">http://amdsystems.in/billing/invoices/view/30</a></td>
                            <td>
                                <a href="http://amdsystems.in/billing/clients/view/4" title="View Client">
                                    arun
                                </a>
                            </td>
                            <td>‎₹25,960.00</td>
                            <td>CHEQ</td>
                            <td>pl make anote</td>
                            <td>
                                <div class="options btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> Options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/form/3">
                                                <i class="fa fa-edit fa-margin"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/delete/3" onclick="return confirm('Are you sure you wish to delete this record?');">
                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/invoices/generate_cash_pdf/30" target="_blank">

                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Cash Recipt
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>14-Dec-2017</td>
                            <td>07-Nov-2017</td>
                            <td><a href="http://amdsystems.in/billing/invoices/view/32">INV 00025</a></td>
                            <td>
                                <a href="http://amdsystems.in/billing/clients/view/7" title="View Client">
                                    HONORARY CORRESPONDENT,MNC VIVEKANANDA VIDYALAYA,
                                </a>
                            </td>
                            <td>‎₹17,499.00</td>
                            <td>CHEQ</td>
                            <td>cheq no 000000942640</td>
                            <td>
                                <div class="options btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> Options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/form/2">
                                                <i class="fa fa-edit fa-margin"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/delete/2" onclick="return confirm('Are you sure you wish to delete this record?');">
                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/invoices/generate_cash_pdf/32" target="_blank">

                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Cash Recipt
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>21-Nov-2017</td>
                            <td>07-Nov-2017</td>
                            <td><a href="http://amdsystems.in/billing/invoices/view/40">inv00026</a></td>
                            <td>
                                <a href="http://amdsystems.in/billing/clients/view/7" title="View Client">
                                    HONORARY CORRESPONDENT,MNC VIVEKANANDA VIDYALAYA,
                                </a>
                            </td>
                            <td>‎₹17,499.00</td>
                            <td>CHEQ</td>
                            <td>paid in full</td>
                            <td>
                                <div class="options btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> Options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/form/6">
                                                <i class="fa fa-edit fa-margin"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/delete/6" onclick="return confirm('Are you sure you wish to delete this record?');">
                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/invoices/generate_cash_pdf/40" target="_blank">

                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Cash Recipt
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>31-Oct-2017</td>
                            <td>31-Oct-2017</td>
                            <td><a href="http://amdsystems.in/billing/invoices/view/24">http://amdsystems.in/billing/invoices/view/24</a></td>
                            <td>
                                <a href="http://amdsystems.in/billing/clients/view/18" title="View Client">
                                    S.GOVINDAN
                                </a>
                            </td>
                            <td>‎₹35,999.00</td>
                            <td></td>
                            <td>CASH PAID IN FULL</td>
                            <td>
                                <div class="options btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> Options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/form/1">
                                                <i class="fa fa-edit fa-margin"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/payments/delete/1" onclick="return confirm('Are you sure you wish to delete this record?');">
                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://amdsystems.in/billing/invoices/generate_cash_pdf/24" target="_blank">

                                                <i class="fa fa-trash-o fa-margin"></i>
                                                Cash Recipt
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>
</div>